.faq-section {
  opacity: 1;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 24px;
  border-top: 1px solid #c8d1da;
  background: #ffffff;
}

::ng-deep .faqlist-container {
  .lift-accordion-wrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .lift-accordion-item {
    background: #ffffff !important;
    min-height: 64px;
    border-bottom: 1px solid #c8d1da !important;
    border-top: unset !important;

    .item-arrow {
      height: 32.5px !important;
      width: 32.5px !important;
      font-size: 26px !important;
      color: #748fff !important;
    }
  }
}

.faq-question {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #35404c;
}

.faq-answer {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #35404c;
}

/* FOOTER */
.FooterWBReports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 102%;
  height: 360px;
  background: rgba(53, 64, 76, 1);
}

.FooterWBReports ul li {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footertitle {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
}

.footertext {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
}

.subfootertitle {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
}

.footersubheading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.95);
}
