.pie-charts-row {
  display: flex;
  gap: 24px;
  align-items: center;
}

.pie-chart-col {
  width: 32%;
  text-align: center;
}

.pie-legend {
  width: 30%;
}

.listLegend {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 13px;
    color: #00000099;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
  }
}
