.pie-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

highcharts-chart {
  width: 60%;
}

.pie-legend {
  width: 35%;
  padding-left: 12px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 12px;
}

.legend-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
