<div *ngIf="selectedVal === 'ch'" class="mt-3" #chartContainer>

  <ng-container *ngIf="selectedFilter === 'Expense Type'">

    <ng-container *ngFor="let chart of chartList">
      <ng-container class="chart-section">
        <highcharts-chart
          [Highcharts]="chart.Highcharts"
          [options]="chart.chartOptions"
          [constructorType]="chart.chartConstructor">
        </highcharts-chart>
      </ng-container>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="selectedFilter === 'By Components'">
    <ng-container *ngFor="let chart of chartList">
      <ng-container class="chart-section">
        <highcharts-chart
          [Highcharts]="chart.Highcharts"
          [options]="chart.chartOptions"
          [constructorType]="chart.chartConstructor">
        </highcharts-chart>
      </ng-container>
    </ng-container>
  </ng-container>

</div>
