@if (selectedView === 'REGION') {
  @for (let row of terminationReasons; let i = $index; track row) {
    <tr>
      <td class="sticky-col">{{ row }}</td>

      @for (let val of regionHeatmapData[i]; track $index) {
        <td
          class="heat-cell"
          [ngStyle]="{
            'background-color': getHeatmapColor(val),
            'color': val > 45 ? '#fff' : '#000'
          }">
          {{ val < 10 ? ('0' + val) : val }}
        </td>
      }
    </tr>
  }
}


@if (selectedView === 'REGION') {
  <div class="heatmap-legend">
    <span>0</span>
    <div class="scale"></div>
    <span>100</span>
  </div>
}
